
  <app-menu-bar></app-menu-bar>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
  
  <!-- <app-home-page></app-home-page>
  <app-view-recipe></app-view-recipe> -->

  <!-- <app-profile></app-profile>
  <app-about></app-about> -->

  <!-- <app-breakfast></app-breakfast>
  <app-lunch></app-lunch>
  <app-dinner></app-dinner>
  <app-favorites-list></app-favorites-list> -->

  <!-- <app-login></app-login>

  <app-menu-bar></app-menu-bar>
  <app-signup></app-signup>
  <app-view-recipe></app-view-recipe> -->

