<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 w3-center">
      <h1 class="display-3">Our Lunch Meals!</h1>
    </header>
  <br>
    <!-- Page Features -->
    <div class="row text-center">
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/italianPasta.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Italian Pasta</h4>
            <p class="card-text">This combination of red onion, spicy salami, olives, and mix of cheese is a sure fire recipe for either a tidy lunch or small picnic. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/burritoBowl.webp" alt="">
          <div class="card-body">
            <h4 class="card-title">Burrito Bowl Classic</h4>
            <p class="card-text">This dish is great for keeping the same amazing taste without the carbs! Our burrito bowl comes with rice, and black beans with chopped tomato, lettuce, and avocado. This dish can be served with your choice of meat or add tofu! </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/southPasta.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Vegan Southwestern Pasta Salad</h4>
            <p class="card-text">Try our vegan friendly southwestern pasta salad! This mexican style dish is loaded with black beans, cherry tomatoes, green onions, and cilantro. This salad is made with bow tie pasta and topped with fresh lime juice, olive oil, and white wine vinegar.  </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/chickenPlum.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Chicken and Red Plum Salad</h4>
            <p class="card-text">Become the grill master by adding grill marks to your chicken and plums for a perfect summer meal!  </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  <br>