<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h4 class="display-3">Meet those who make up Recipes From The Heart</h4>    
    </header>

    <!-- Page Features -->
    <p class=page>Just over 6 weeks ago we decided what is better than sharing your love of food with others. 
      <br> Just imagine all of the amazing recipes and creations of people all over the world! 
      <br>We wanted to be able to facilitate a place for everyone to share their gifts and traditions. 
    </p>
    <div class="row text-center">
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://ca.slack-edge.com/T9P33872P-UKUA3UV96-c1ce39f2c4be-512" alt="">
          <div class="card-body">
            <h4 class="card-title">Hayden Funk</h4>
            <p class="card-text"> Hayden is husband to the love of his life, Cassidy, and dog dad to Holly the labradoodle.
              <br>He joined Bethel Tech to begin building the foundations of a career 
              <br> to allow his wife to start her own companys and raise their future kids. 
              <br> Hayden is a literal rockstar, in web development and life and our team would not be complete without him.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/david3.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">David Huntsberger</h4>
            <p class="card-text">David is a husband to an amazing and supportive wife as well as a father to 3 wonderful kids. 
              <br> He has pursued coding to provide a better life for his family and pursue a career that is new, 
              <br> interesting and provides a kingdom influence to the rest of the world. 
              <br> David is the backbone of our team and we are so thankful for him.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://ca.slack-edge.com/T9P33872P-U017CM618FR-a4a10eef3df8-512" alt="">
          <div class="card-body">
            <h4 class="card-title">Andrew Morgan</h4>
            <p class="card-text">Andrew is a chess playing, weight lifting, video gaming, Jesus loving dude. 
              <br> Married to his beautiful wife, Harmony. 
              <br> Bethel Tech student - soon to be graduate - with a focus on C# language and .Net Framework. 
              <br> Andrew is an amazing go getter and a huge asset to any team and we are thankful to have him on our team.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://ca.slack-edge.com/T9P33872P-UPSAENQ7P-6846e172eb36-512" alt="">
          <div class="card-body">
            <h4 class="card-title">Lauren Russo-Kay</h4>
            <p class="card-text">Lauren is a wife of 25 years to Nathaniel and mom of four incredible kids. 
              <br> Ready to start a new adventure and take on a whole new career and life in the technical world.
              <br> She loves to be creative and artistic. Decided on a career change to be able to tap into more of her creative side
              <br> and to be able to have more freedom to be available for her kids as they get older and start their own families.</p>
          </div>
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  <br>