<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 w3-center">
      <h1 class="display-3">Our Breakfast Meals!</h1>
    </header>
  <br>
    <!-- Page Features -->
    <div class="row text-center">
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/eggs2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Easy Baked Eggs</h4>
            <p class="card-text">Our Easy Baked Eggs are low in carbs and a great protien resource! 
              <br> Helpful for keeping you feeling full all day and from snacking on sweets. 
              <br> Start your day with this great recipe!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/FrenchToast3.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Brioche French Toast</h4>
            <p class="card-text">Want to enjoy a classic dish while taking it to the next level? 
              <br> Try our Brioche French Toast! 
              <br> This is a delicious treat that you can keep light or you can go all out for the ultimate cheat meal!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/bq1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Breakfast Quesadilla</h4>
            <p class="card-text">Whether you're on the go or looking for a hardy meal, 
              <br> our Breakfast Quesadilla contains fluffy scambled eggs, green peppers, 
              <br> bacon, chedder cheese, and all enveloped in tortilla shells. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/quinoa.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Vegan Quinoa Bowl</h4>
            <p class="card-text">One of our favorite plant based meals is our Quinoa Bowl! 
              <br> A subsitute of oatmeal, this meal utilizes quinoa, almond milk, and dried fruit for a delicious, 
              <br> creamy dish that is rich in fiber! </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  <br>
  