

<div class="grid-container">
    <div class="grid-item">1
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="grid-item">2
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="grid-item">3
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>  
    <div class="grid-item">4
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="grid-item">5
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="grid-item">6
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>  
    <div class="grid-item">7
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="grid-item">8
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="grid-item">9
        <div style="font-family: Garand, serif;">Click to add to Favorites! 
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>  
  </div>