<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <nav>
      <h2 class="active"> Sign In </h2>
      <h2><a class="inactive underlineHover" [routerLink]="['/signup']" routerLinkActive="active">Sign Up</a></h2>
      </nav>
      
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/images/Logo 9.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" required>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" required>
        <input type="submit" class="fadeIn fourth" value="Log In">
        <input type="button" class="fadeIn fourth" value="Cancel" [routerLink]="['/']" routerLinkActive="active">
      </form>
  
  </div>
  <router-outlet></router-outlet>