<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to Recipes From The Heart!</h1>
    <p class="lead">We can't wait to show all of our newest recipes! 
      <br>
      We think you are going to love them! 
      <br>
      You are going to want to sign up now and become a part of our community to take advantage of all the amazing creations. 
      <br>
      We would love to see your contributions as well. Here are a few samples of what you will access to. 
      <br>
      Click the button below and sign up now to set up your account and begin exploring.</p>
    <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/signup']" routerLinkActive="active">Sign up now!</a>
  </header>
<br>
  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/ccc3.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Cookies and Cream Cupcakes</h4>
          <p class="card-text">These chocolate cupcakes will melt in your mouth and that cookies and cream frosting on top is nearly too good too be true. 
            <br>They're perfect for birthday parties, get togethers and just treating yourself!</p>
        </div>
        <div class="card-footer">
          <p><b>Ingredients </b> <br>
            <br> <b>Cupcakes: </b> <br>
            1/4 C unsalted butter softened <br>
            1/2 C granulated sugar <br>
            1 large egg <br>
            1 tsp vanilla extract <br>
            1/4 tsp salt <br>
            1/2 tsp baking soda <br>
            1/4 C unsweetened cocoa powder <br>
            1/4 C milk <br>
            1 oz semi-sweet or bittersweet chocolate <br>
            1/4 C sour cream <br>
            3/4 C all purpose flour <br>
            <br> <b> Frosting: </b> <br>
            8 oz cream cheese softened <br>
            1/4 C unsalted butter softened <br>
            1/2 tsp vanilla extract <br>
            4 C powdered sugar <br>
            1/3 C chocolate cookie crumbs <br>
            8 whole cookies for topping <br>
            <br> <b>Instructions</b>
            <br> Preheat oven to 350°F. Line a regular cupcake pan with 8 paper liners.  
            <br> In a glass measuring cup, heat milk until steaming. Add 1oz chocolate to warm milk, stirring until melted. Set aside.  
            <br> In a large bowl or stand mixer, beat together butter and sugar until light and fluffy.  
            <br> Mix in egg and vanilla, scraping bowl as needed. Mix in salt, baking soda and cocoa powder, followed by flour.  
            <br> Mix in sour cream, followed by warm milk mixture. Mix until just combined and no streaks remain. 
            <br> Divide mixture between prepared liners using a large cookie scoop. 
            <br> Bake for 18-20 minutes or until a toothpick inserted comes out clean or with just a few moist crumbs. 
            <br> Cool in pan for several minutes, then transfer to a wire rack to cool completely. 
            <br> When cupcakes are cool, prepare frosting. In a large bowl or stand mixer, beat together cream cheese and butter until smooth. 
            <br> Add vanilla. Mix in powdered sugar 1 cup at a time. Finally, stir in cookie crumbs by hand, mixing until just combined. 
            <br> Transfer to a large piping bag fit with desired tip. Frost cupcakes and immediately top off with a cookie. 
            <br> Cupcakes can be stored in the refrigerator. Bring to room temperature prior to serving. </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/cc2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">New York Style Cheesecake</h4>
          <p class="card-text">This dense, creamy New York Style Cheesecake is a slice of dessert heaven! 
            <br> It’s a rich, velvety cheesecake with a classic graham cracker crust that will make you fall in love with cheesecake all over again.</p>
        </div>
        <div class="card-footer">
          <p><b>Ingredients: </b> <br>
            <br> <b> Graham Cracker Crust:</b>
            <br> 1 and 1/2 cups graham cracker crumbs-about 10 full sheet graham crackers
            <br> 5 Tablespoons unsalted butter, melted
            <br> 1/4 cup granulated sugar<br>
            <br> <b>Cheesecake:</b>
            <br> 4 8-ounce blocks full-fat cream cheese, softened to room temperature
            <br> 1 cup granulated sugar
            <br> 1 cup full-fat sour cream, at room temperature
            <br> 1 teaspoon pure vanilla extract
            <br> 2 teaspoons fresh lemon juice, optional, but recommended
            <br> 3 large eggs, at room temperature
            <br> Topping suggestions: salted caramel, lemon curd, strawberry topping, 
            <br> chocolate ganache, red wine chocolate ganache, fresh fruit, whipped cream, or raspberry sauce.<br>
            <br> <b>Instructions: </b>
            <br> Adjust the oven rack to the lower-middle position and preheat oven to 350°F.
            <br> Make the crust: Using a food processor, pulse the graham crackers into crumbs. 
            <br> Pour into a medium bowl and stir in sugar and melted butter until combined. You can also pulse it all together in the food processor.
            <br> Mixture will be sandy. Press firmly into the bottom and slightly up the sides of a 9-inch or 10-inch springform pan. 
            <br> No need to grease the pan first. Use the bottom of a measuring cup to pack the crust down tightly. Pre-bake for 8 minutes. 
            <br> Remove from the oven and place the hot pan on a large piece of aluminum foil.  
            <br> Allow crust to slightly cool as you prepare the filling.<br>
            <br> <b>Make the filling:</b> 
            <br> Using a handheld or stand mixer fitted with a paddle attachment, beat the cream cheese and granulated sugar together on medium-high speed in a large bowl until the mixture is smooth and creamy, about 2 minutes. 
            <br> Add the sour cream, vanilla extract, and lemon juice then beat until fully combined. 
            <br> On medium speed, add the eggs one at a time, beating after each addition until just blended. 
            <br> After the final egg is incorporated into the batter, stop mixing. 
            <br> To help prevent the cheesecake from deflating and cracking as it cools, avoid over-mixing the batter as best you can.
            <br> Pour the cheesecake batter on top of the crust. Use a rubber spatula or spoon to smooth it into an even layer. 
            <br> Place the pan inside of a large roasting pan. Carefully pour the hot water inside of the pan and place in the oven. 
            <br> Or you can place the roasting pan in the oven first, then pour the hot water in. Whichever is easier for you.
            <br> Note: if you notice the cheesecake browning too quickly on top, tent it with aluminum foil halfway through baking. 
            <br> Bake cheesecake for 55-70 minutes or until the center is almost set. 
            <br> When it’s done, the center of the cheesecake will slightly wobble if you gently shake the pan. 
            <br> Turn the oven off and open the oven door slightly. Let the cheesecake sit in the oven in the water bath as it cools down for 1 hour. 
            <br> Remove from the oven and water bath, then cool cheesecake completely uncovered at room temperature. 
            <br> Then cover and refrigerate the cheesecake for at least 4 hours or overnight.
            <br> Use a knife to loosen the chilled cheesecake from the rim of the springform pan, then remove the rim. 
            <br> Using a clean sharp knife, cut into slices for serving. 
            <br> For neat slices, wipe the knife clean and dip into warm water between each slice.
            <br> Serve cheesecake with desired toppings. Cover and store leftover cheesecake in the refrigerator for up to 5 days.
          </p>
          <!-- <a href="#" class="btn btn-primary">Click here for the recipe!</a> -->
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/ss2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Butternut Squash Soup</h4>
          <p class="card-text">Served piping hot with a hunk of crusty bread, this creamy, nourishing butternut squash soup recipe is fall comfort food at its best.</p>
        </div>
        <div class="card-footer">
          <p><b>Ingredients:</b>
            <br> 2 tablespoons extra-virgin olive oil
            <br> 1 large yellow onion, chopped
            <br> ½ teaspoon sea salt
            <br> 1 3-pound butternut squash, peeled, seeded, and cubed
            <br> 3 garlic cloves, chopped
            <br> 1 tablespoon chopped fresh sage
            <br> ½ tablespoon minced fresh rosemary
            <br> 1 teaspoon grated fresh ginger
            <br> 3 to 4 cups vegetable broth
            <br> Freshly ground black pepper <br>
            <br> <b> For serving: </b>
            <br> Chopped parsley
            <br> Toasted pepitas
            <br> Crusty bread <br>
            <br> <b>Instructions:</b>
            <br> Heat the oil in a large pot over medium heat. 
            <br> Add the onion, salt, and several grinds of fresh pepper and sauté until soft, 5 to 8 minutes. 
            <br> Add the squash and cook until it begins to soften, stirring occasionally, for 8 to 10 minutes.
            <br> Add the garlic, sage, rosemary, and ginger. Stir and cook 30 seconds to 1 minute, until fragrant, then add 3 cups of the broth. 
            <br> Bring to a boil, cover, and reduce heat to a simmer. Cook until the squash is tender, 20 to 30 minutes.
            <br> Let cool slightly and pour the soup into a blender, working in batches if necessary, and blend until smooth. 
            <br> If your soup is too thick, add up to 1 cup more broth and blend. Season to taste and serve with parsley, pepitas, and crusty bread.</p>
          <!-- <a href="#" class="btn btn-primary">Click here for the recipe!</a> -->
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/se2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Shrimp Etoufee</h4>
          <p class="card-text">Juicy shrimp dish smothered in rich and flavorful roux sauce made with rich authentic southern flavors and an incredibly delicious taste. 
            <br> Easy recipe with big bold flavors! Served with white rice, you cannot go wrong.</p>
        </div>
        <div class="card-footer">
          <p><b>Ingredients:</b>
          <br> For the shrimp broth
          <br> shells from 1 1/2 pounds of shrimp
          <br> 1 carrot peeled and cut into 1 1/2 inch slices
          <br> 1/2 onion cut into wedges
          <br> 1 stalk celery sliced
          <br> 1 bay leaf
          <br> 2 teaspoons peppercorns
          <br> 2 sprigs fresh thyme
          <br> 4 cups water <br>
          <br><b>For the etouffee</b>
          <br> 1/4 cup butter
          <br> 1/4 cup all purpose flour
          <br> 1/2 cup onion finely diced
          <br> 1/2 cup celery finely diced
          <br> 1 green bell pepper finely diced
          <br> 2 teaspoons garlic minced
          <br> 1 cup canned diced tomatoes do not drain
          <br> 1 bay leaf
          <br> 1 teaspoon salt
          <br> 1/4 teaspoon black pepper
          <br> 2 teaspoons Cajun seasoning
          <br> 1 teaspoon Worcestershire sauce
          <br> 1 teaspoon hot sauce
          <br> 2 cups shrimp broth recipe above
          <br> 1 1/2 pounds medium to large shrimp (shell-on) peel and reserve shells for shrimp broth
          <br> 1/4 cup green onions sliced
          <br> 2 tablespoons fresh parsley chopped
          <br> steamed white rice for serving
          <br> <b>Instructions:</b>
          <br> <b>For the shrimp broth:</b>
          <br> Place all the ingredients in a large pot and bring to a simmer. Cook for 30-45 minutes.
          <br> Let cool slightly, then strain the broth through a sieve. You will have more broth than you need for this recipe. 
          <br> Leftover broth can be frozen for later use.
          <br> <b>For the etouffee:</b>
          <br> Melt the butter in a large pot over medium heat. Add the flour and whisk until smooth. 
          <br> Cook, stirring constantly, for 5-7 minutes or until roux is light golden brown.
          <br> Add the onion, bell pepper and celery to the pot. Cook for 5-7 minutes, stirring occasionally, until vegetables are tender.
          <br> Add the garlic and cook for 30 seconds.
          <br> Stir in the tomatoes, bay leaf, salt, pepper, Cajun seasoning, Worcestershire sauce and hot sauce. Cook for 1 minute.
          <br> Pour in the shrimp broth and bring the mixture to a simmer. Cook for 15-20 minutes or until sauce has thickened.
          <br> Add the shrimp and cook for 5 minutes, or until shrimp is pink and opaque.
          <br> Stir in the green onions. Sprinkle with parsley, then serve immediately with rice.
          </p>
          <!-- <a href="#" class="btn btn-primary">Click here for the recipe!</a> -->
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<br>
