<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to Recipes From The Heart!</h1>
    <p class="lead">We know you are going to love these receipes. So many great ideas and time saving tips. You are going to want to join us to be a part of all the action!</p>
    <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/signup']" routerLinkActive="active">Sign up now!</a>
  </header>
<br>
  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/ccc3.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Cookies and Cream Cupcakes</h4>
          <p class="card-text">These chocolate cupcakes will melt in your mouth and that cookies and cream frosting on top is nearly too good too be true. They're perfect for birthday parties, get togethers and just treating yourself!</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Click here for the recipe!</a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/cc2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">New York Style Cheesecake</h4>
          <p class="card-text">This dense, creamy New York Style Cheesecake is a slice of dessert heaven! It’s a rich, velvety cheesecake with a classic graham cracker crust that will make you fall in love with cheesecake all over again.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Click here for the recipe!</a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/ss2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Butternut Squash Soup</h4>
          <p class="card-text">Served piping hot with a hunk of crusty bread, this creamy, nourishing butternut squash soup recipe is fall comfort food at its best.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Click here for the recipe!</a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/images/se2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Shrimp Etoufee</h4>
          <p class="card-text">Juicy shrimp dish smothered in rich and flavorful roux sauce made with rich authentic southern flavors and an incredibly delicious taste. Easy recipe with big bold flavors!</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Click here for the recipe!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<br>
