<!DOCTYPE html>
<html lang="en-US">
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/59fd75f95f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="w3-container w3-margin">
        <h5 class="w3-bar w3-light-grey w3-large" style="width: auto;">

            <img class="w3-circle w3-left" style="width:200px;" alt="Recipes from the heart Logo" src="../assets/images/Logo 9.jpg"/>
            
            <h4 class="w3-light-grey w3-center">
                <a href="#" class="w3-bar-item w3-button">Home</a>
                <a href="#" class="w3-bar-item w3-button">Breakfast</a>
                <a href="#" class="w3-bar-item w3-button">Lunch</a>
                <a href="#" class="w3-bar-item w3-button">Dinner</a>
            </h4>
            
            <div class="dropdown w3-right">
                <img src="../assets/images/img_avatar1.png" alt="Avatar" class="avatar w3-circle">
                <div class="dropdown-content">
                    <a href="#">Sign In</a>
                    <a href="#">Favorites</a>
                    <a href="#">Logout</a>
                </div>
            </div> 
            <h5 class="w3-container w3-right">
                <input type="text" class="w3-bar-item w3-input w3-white w3-mobile w3-center" placeholder="Search..">
                <button class="w3-bar-item w3-button w3-black w3-mobile w3-center">Go</button>
            </h5>
        </h5>
    </div>
</body>









    