<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <nav>
      <a class="inactive underlineHover" routerLink="login" routerLinkActive="active">Sign In</a>
      <h2 class="active">Sign Up</h2>
      </nav>
      
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/images/Logo 9.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Signup Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="login" placeholder="create username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="create password">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="confirm password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
  </div>
  <router-outlet></router-outlet>