<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 w3-center">
      <h1 class="display-3">Our Dinner Meals!</h1>
    </header>
  <br>
    <!-- Page Features -->
    <div class="row text-center">
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/shrimpPasta2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tomato and Shrimp Pasta</h4>
            <p class="card-text">This comfort food recipe is healthy, light, and delicious. 
              <br> Perfect for a romantic dinner or cook in bulk for a small get together.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/sausage.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Sausage Pasta Skillet</h4>
            <p class="card-text">A hardy and savory meal that's great for the fall season!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/steak.webp" alt="">
          <div class="card-body">
            <h4 class="card-title">Garlic Butter Steak with Zucchini Noodles</h4>
            <p class="card-text">A delicious recipe that is easy to cook up in 15 minutes and all in one pan! </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/tuscanSalmon2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Creamy Tuscan Salmon</h4>
            <p class="card-text">Looking for restuarant quality without spending the big bucks?! 
              <br> Try this pan-seared salmon, doused in creamy parmesan sauce with garlic, cherry tomatoes, spinach, and fresh basil. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div>
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  <br>
