<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Those who make up Recipes From The Heart</h1>
      <p class="lead">We are...</p>
      <!-- <a href="#" class="btn btn-primary btn-lg">Sign up now!</a> -->
    </header>
  <br>
    <!-- Page Features -->
    <div class="row text-center">
  
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/https://ca.slack-edge.com/T9P33872P-UKUA3UV96-c1ce39f2c4be-512" alt="">
          <div class="card-body">
            <h4 class="card-title">Hayden Funk</h4>
            <p class="card-text">Hayden is.....</p>
          </div>
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div> -->
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/https://ca.slack-edge.com/T9P33872P-U017TDFFZ4J-g2a1e5cb477e-512" alt="">
          <div class="card-body">
            <h4 class="card-title">David Huntsberger</h4>
            <p class="card-text">David is....</p>
          </div>
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div> -->
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/ss2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Andrew Morgan</h4>
            <p class="card-text">Andrew is....</p>
          </div>
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div> -->
        </div>
      </div>
      <br>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://ca.slack-edge.com/T9P33872P-UPSAENQ7P-6846e172eb36-512" alt="">
          <div class="card-body">
            <h4 class="card-title">Lauren Kay</h4>
            <p class="card-text">Lauren is....</p>
          </div>
          <!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Click here for the recipe!</a>
          </div> -->
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  <br>
  
